<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
    http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">
	<persistence-unit name="flomi" transaction-type="RESOURCE_LOCAL">

		<class>ch.kup.flomi.domain.Flomi</class>
		<class>ch.kup.flomi.domain.Address</class>
		<class>ch.kup.flomi.domain.Tisch</class>
		<class>ch.kup.flomi.domain.FlomiBuchung</class>

		<shared-cache-mode>ALL</shared-cache-mode>

		<properties>
			<!-- EclipseLink specific properties -->
			<property name="eclipselink.logging.level" value="INFO" />

			<!-- activate connectin pooling (see https://bugs.eclipse.org/bugs/show_bug.cgi?id=379397) -->
			<property name="eclipselink.connection-pool.force-internal-pool"
				value="true" />

			<property name="eclipselink.ddl-generation" value="drop-and-create-tables" />
			<property name="eclipselink.ddl-generation.output-mode"
				value="database" />
		</properties>
	</persistence-unit>
</persistence>
